.banner-wrap {
  margin-top: 1rem;
  display: grid;
  gap: 1.5rem;
}
.banner-wrap .p-banner {
  overflow: hidden;
  position: relative;
  grid-column: 1/3;
  grid-row: 1/3;
}
.banner-wrap .p-banner img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-wrap .img {
  grid-column: 3/4;
}
.banner-wrap .img.--img-01 {
  grid-row: 1/2;
}
.banner-wrap .img.--img-02 {
  grid-row: 2/3;
}

@media (min-width: 767px) {
  .p-cate {
    margin-top: 5rem;
  }
}
.p-cate__content {
  position: relative;
}
.p-cate__content .swiper-button-prev {
  left: -3rem;
}
.p-cate__content .swiper-button-next {
  right: -3rem;
}
.p-cate__content .swiper-button-next:after,
.p-cate__content .swiper-button-prev:after {
  font-size: 3rem;
}
@media (min-width: 767px) {
  .p-cate__item {
    background: #43B7D7;
    display: block;
    margin: 0 1.5rem;
    padding: 4rem 2rem 2rem;
    border-radius: 2rem;
    text-align: center;
    border-bottom: 1rem solid #1c99bb;
  }
}
.p-cate__item__img {
  position: relative;
  width: 22rem;
  height: 22rem;
  margin: auto;
  padding-top: 1.1rem;
  transition: all 300ms linear 0ms;
}
.p-cate__item__img:before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 0.2rem dashed #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.p-cate__item__img img {
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 0.2rem;
}
.p-cate__item:hover .p-cate__item__img {
  transform: rotateY(180deg);
}
.p-cate__item:hover .p-cate__item__img:before {
  left: -0.2rem;
  animation: spinAround 9s linear infinite;
}
.p-cate__item__ttl {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1.5rem 0;
  color: #fff;
}
@media (min-width: 767px) {
  .p-cate__item__ttl {
    font-size: 2.4rem;
    margin: 2rem 0;
  }
}
.p-cate__des {
  margin-top: 4rem;
  font-size: 1.4rem;
  line-height: 1.6;
}
@media (min-width: 767px) {
  .p-cate__des {
    margin-top: 6rem;
    font-size: 2rem;
    line-height: 1.3;
  }
}

.p-commit {
  background: #f4fafd;
  margin: 5rem 0 0;
  padding: 5rem 0;
}
.p-commit__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.p-commit__item {
  text-align: center;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
}
.p-commit__item__img {
  width: 8rem;
  height: 8rem;
  margin: auto;
}
.p-commit__item__ttl {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 2rem 0;
}
.p-commit__item__txt {
  font-size: 1.6rem;
  color: #666;
}

.p-search {
  text-align: center;
  background: #fcf9f4;
  padding: 6rem 2rem;
}
.p-search__ttl {
  color: #ff8533;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.p-search__content {
  max-width: 60rem;
  margin: auto;
  position: relative;
}
.p-search__content input {
  width: 100%;
  border: 0.2rem solid #43B7D7;
  height: 5.5rem;
  padding-left: 2rem;
  border-radius: 2.5rem;
}
.p-search__icon {
  position: absolute;
  right: 1.6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
}

.p-product {
  background: #f8f8f8;
  padding: 3rem 0;
}
@media (min-width: 767px) {
  .p-product {
    padding: 5rem 0;
  }
}
.p-product__section {
  margin-bottom: 3rem;
}
@media (min-width: 767px) {
  .p-product__section {
    margin-bottom: 5rem;
  }
}
.p-product__ttl {
  text-align: center;
  font-size: 2rem;
  color: #43B7D7;
}
@media (min-width: 767px) {
  .p-product__ttl {
    font-size: 3rem;
  }
}
.p-product__cate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
}
.p-product__cate .tlink {
  background: #fff;
  padding: 0.8rem 2.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.7rem;
}
.p-product__cate .tlink:hover, .p-product__cate .tlink.active {
  background: #43B7D7;
  color: #fff;
  border: 1px solid #43B7D7;
}
.p-product-hot {
  background: url(../images/enroll-bg.jpg) no-repeat left center;
  background-size: cover;
  padding: 3rem 0;
}
@media (min-width: 767px) {
  .p-product-hot {
    padding: 6rem 0;
  }
}
.p-product-hot__ttl {
  color: #fff;
}
.p-product-hot__content {
  margin-top: 2rem;
  position: relative;
}
@media (min-width: 767px) {
  .p-product-hot__content {
    margin-top: 5rem;
  }
}
.p-product-hot__content .product-item {
  margin: 0 1.5rem;
}
.p-product-hot__content .swiper-button-prev {
  left: -5rem;
}
.p-product-hot__content .swiper-button-next,
.p-product-hot__content .swiper-button-prev {
  background: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  right: -5rem;
}
@media (max-width: 766px) {
  .p-product-hot__content .swiper-button-next,
  .p-product-hot__content .swiper-button-prev {
    display: none;
  }
}
.p-product-hot__content .swiper-button-next:hover,
.p-product-hot__content .swiper-button-prev:hover {
  background: #ff8533;
}
.p-product-hot__content .swiper-button-next:hover:after,
.p-product-hot__content .swiper-button-prev:hover:after {
  color: #fff;
}
.p-product-hot__content .swiper-button-next:after,
.p-product-hot__content .swiper-button-prev:after {
  font-size: 1.8rem;
}

.p-derve {
  padding: 2rem 0;
  background: #ff8533;
  color: #fff;
}
@media (min-width: 767px) {
  .p-derve {
    padding: 5rem 0;
  }
}
@media (min-width: 767px) {
  .p-derve__wrap {
    display: flex;
    gap: 10rem;
    justify-content: space-between;
  }
}
@media (min-width: 767px) {
  .p-derve__info {
    width: 50%;
  }
}
@media (min-width: 767px) {
  .p-derve__like {
    width: 30%;
  }
}
.p-derve__phone {
  font-size: 2.3rem;
  font-weight: bold;
  background: url(../images/phone_icon.png) no-repeat left center;
  background-size: contain;
  margin-top: 2rem;
  padding-left: 5rem;
  margin-bottom: 2rem;
}
@media (min-width: 767px) {
  .p-derve__phone {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 7rem;
  }
}
.p-derve__ttl {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 767px) {
  .p-derve__ttl {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 766px) {
  .p-derve__txt {
    font-size: 1.4rem;
  }
}

.p-customer {
  background: #fcf9f4;
  padding: 2rem 0;
}
@media (min-width: 767px) {
  .p-customer {
    padding: 5rem 0;
  }
}
.p-customer .swiper-customer {
  position: relative;
  padding-bottom: 5rem;
}
@media (min-width: 767px) {
  .p-customer .swiper-customer {
    padding-bottom: 7rem;
  }
}
.p-customer__ttl {
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 767px) {
  .p-customer__ttl {
    margin-bottom: 5rem;
  }
}
.p-customer__ttl__label {
  font-size: 3rem;
}
.p-customer__ttl__sub {
  font-size: 1.4rem;
  color: #666;
  margin-top: 1rem;
}
@media (min-width: 767px) {
  .p-customer__ttl__sub {
    font-size: 1.7rem;
  }
}
.p-customer .customer-item {
  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
}
@media (min-width: 767px) {
  .p-customer .customer-item {
    border-radius: 2rem;
    margin: 0 1.5rem;
    padding: 3rem;
  }
}
.p-customer .customer-item__head {
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media (min-width: 767px) {
  .p-customer .customer-item__head {
    gap: 2rem;
  }
}
.p-customer .customer-item__head__img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border: 0.1rem solid #ff8533;
}
@media (min-width: 767px) {
  .p-customer .customer-item__head__img {
    width: 8rem;
    height: 8rem;
    border: 0.2rem solid #ff8533;
  }
}
.p-customer .customer-item__head__ttl {
  font-size: 1.6rem;
  padding-right: 3rem;
  display: inline-block;
  position: relative;
}
@media (min-width: 767px) {
  .p-customer .customer-item__head__ttl {
    font-size: 2rem;
    padding-right: 5rem;
  }
}
.p-customer .customer-item__head__ttl:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: url(../images/ic_don.svg) no-repeat top center;
  background-size: contain;
  width: 2.6rem;
  height: 1.5rem;
}
@media (min-width: 767px) {
  .p-customer .customer-item__head__ttl:after {
    width: 3.6rem;
    height: 2.2rem;
  }
}
.p-customer .customer-item__head__pos {
  color: #666;
}
@media (max-width: 766px) {
  .p-customer .customer-item__head__pos {
    font-size: 1.4rem;
  }
}
.p-customer .customer-item__txt {
  font-style: italic;
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #666;
}
@media (min-width: 767px) {
  .p-customer .customer-item__txt {
    font-size: 1.7rem;
    margin-top: 2rem;
  }
}

.p-news {
  padding: 5rem 0;
}
.p-news__ttl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.p-news__ttl .viewmore {
  border: 1px solid #666;
  position: relative;
  border-radius: 3rem;
  padding: 0.5rem 4rem 0.5rem 2rem;
  text-align: left;
}
@media (min-width: 767px) {
  .p-news__ttl .viewmore {
    padding: 1rem 4rem 1rem 2rem;
  }
}
.p-news__ttl .viewmore:after {
  position: absolute;
  content: "";
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1.5rem;
  background: url(../images/ic_right.svg) no-repeat top center;
  background-size: cover;
  transition: all 0.3s;
}
.p-news__ttl .viewmore:hover {
  color: #43B7D7;
}
.p-news__ttl .viewmore:hover:after {
  right: 1.5rem;
}
@media (min-width: 767px) {
  .p-news__wrap {
    display: flex;
    gap: 3rem;
  }
}
@media (min-width: 767px) {
  .p-news__main {
    width: 60%;
  }
}
.p-news__col {
  margin-top: 2rem;
}
@media (min-width: 767px) {
  .p-news__col {
    width: 40%;
    margin-top: 0;
  }
}
.p-news__primary {
  display: block;
}
.p-news__primary__ttl {
  margin-top: 1rem;
  font-size: 1.6rem;
}
@media (min-width: 767px) {
  .p-news__primary__ttl {
    margin-top: 2rem;
    font-size: 2rem;
  }
}
.p-news__primary__ttl:hover {
  color: #43B7D7;
}
.p-news__item {
  display: flex;
  gap: 1rem;
}
@media (min-width: 767px) {
  .p-news__item {
    gap: 2rem;
  }
}
.p-news__item:not(:last-child) {
  margin-bottom: 2rem;
}
.p-news__item__img {
  width: 10rem;
  overflow: hidden;
  border-radius: 1rem;
  height: 7rem;
}
@media (min-width: 767px) {
  .p-news__item__img {
    width: 15rem;
    height: 10rem;
  }
}
.p-news__item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-news__item__meta {
  width: calc(100% - 11rem);
}
@media (min-width: 767px) {
  .p-news__item__meta {
    width: calc(100% - 17rem);
  }
}
.p-news__item__meta .ttl {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
@media (min-width: 767px) {
  .p-news__item__meta .ttl {
    font-size: 1.7rem;
  }
}
.p-news__item__meta .ttl a:hover {
  color: #43B7D7;
}
.p-news__item__meta .writer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 766px) {
  .p-news__item__meta .writer {
    font-size: 1.4rem;
  }
}
.p-news__item__meta .writer .face {
  color: #666;
  position: relative;
  padding-right: 1rem;
}
@media (min-width: 767px) {
  .p-news__item__meta .writer .face {
    padding-right: 2rem;
  }
}
.p-news__item__meta .writer .face:after {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background: #666;
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.p-news__item__meta .writer .face img {
  height: 2.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 2.5rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 0.5rem;
}
@media (min-width: 767px) {
  .p-news__item__meta .writer .face img {
    height: 3.5rem;
    width: 3.5rem;
    margin-right: 1rem;
  }
}
.p-news__item__meta .writer .date {
  color: #999;
  font-size: 1.4rem;
}/*# sourceMappingURL=home.css.map */