@import "common/variables";
@import "common/mixin";

.p-news {
    padding-bottom: rem(50px);

    .ttl01 {
        text-align: left;
        margin-bottom: rem(10px);
        color: #333;
        font-size: rem(20px);
        @include mq("md", min) {
            font-size: rem(30px);
        }
    }

    &__wrap {
        @include mq("md", min) {
            display: flex;
            gap: rem(50px);
        }
    }

    &__main {
        @include mq("sm", min) {
            @include mq("md") {
                display: flex;
                gap: rem(15px);
                flex-wrap: wrap;
            }
        }
        @include mq("md", min) {
            width: 75%;
        }
    }

    .sidebar {
        @include mq("md") {
            display: none;
        }
        @include mq("md", min) {
            width: 25%;
        }
    }

    &__item {
        @include mq("sm", min) {
            @include mq("md") {
                width: calc(50% - rem(8px));
            }
        }
        @include mq("md", min) {
            display: flex;
            gap: rem(30px);
        }
        &:not(:last-child) {
            margin-bottom: rem(30px);
        }

        &__img {
            width: 100%;
            flex-shrink: 0;
            display: block;
            @include mq("md", min) {
                width: rem(270px);
            }
        }

        &__ttl {
            font-size: rem(15px);
            display: block;
            margin-bottom: rem(5px);
            margin-top: rem(10px);
            @include mq("md", min) {
                margin-top: 0;
                font-size: rem(18px);
            }
            &:hover {
                color: $primary;
            }
        }

        &__date {
            background: url(../images/ic_calendar.svg) no-repeat left center;
            background-size: rem(10px) rem(10px);
            padding-left: rem(15px);
            font-size: rem(14px);
            @include mq("md", min) {
                font-size: rem(16px);
                background-size: rem(15px) rem(15px);
                padding-left: rem(25px);
            }
        }

        &__short {
            margin-top: rem(5px);
            color: #666;
            font-size: rem(14px);
            @include mq("md", min) {
                font-size: rem(16px);
            }
        }
    }

    &__description {
        @include mq("md") {
            font-size: rem(14px);
        }
        .ttl01 {
            text-transform: none;
        }

        ul {
            margin: rem(15px) 0 rem(15px) rem(15px);

            li {
                list-style: disc;
            }
        }
    }

    &__related {
        &__ttl {
            display: block;
            background-image: url(../images/ic_double_right.svg);
            background-repeat: no-repeat;
            background-position: left rem(8px);
            background-size: rem(15px) rem(15px);
            margin: rem(7px) 0;
            padding-left: rem(20px);
            @include mq("md",min) {
                background-position: left center;
                background-size: rem(20px) rem(20px);
                margin: rem(7px) 0;
                padding-left: rem(25px);
            }
            &:hover {
                color: $primary;
            }
        }
    }
}
